<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Measurements</title>
    <style>
        ul {
            list-style-type: none;
        }
        li {
            margin-bottom: 10px;
        }
        h2 {
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h1>IoT Measurements</h1>
    {% for nr_indeksu, data in measurements.items() %}
        <h2>Student: {{ nr_indeksu }}</h2>
        <ul>
            {% for measurement in data %}
                <li>
                    <strong>Location:</strong> {{ measurement.location }} <br>
                    <strong>Timestamp:</strong> {{ measurement.timestamp }} <br>
                    <strong>PM2.5:</strong> {{ measurement.pm25_value }} {{ measurement.pm25_units }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
